---
import type { SelectProperty } from '../../../lib/interfaces';
import { NUMBER_OF_POSTS_PER_PAGE } from '../../../server-constants';
import {
  getPostsByTag,
  getRankedPosts,
  getAllTags,
  getNumberOfPagesByTag,
} from '../../../lib/notion/client';
import Layout from '../../../layouts/Layout.astro';
import TagCover from '../../../components/Cover/TagCover.astro';
import BlogSections from '../../../components/BlogSections/BlogSections.astro';
import Pagination from '../../../components/Pagination.astro';

import '../../../styles/notion-color.css';

export async function getStaticPaths() {
  const allTags = await getAllTags();
  return allTags.map((tag: SelectProperty) => ({ params: { tag: tag.name } }));
}

const { tag } = Astro.params;

const [posts, rankedPosts, tags, numberOfPages] = await Promise.all([
  getPostsByTag(tag, NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPagesByTag(tag),
]);

const currentTag = posts[0].Tags.find((t) => t.name === tag);
---

<Layout
  title={`Posts in ${tag}`}
  description=''
  path={`/posts/tag/${tag}`}
  ogImage=''
>
  <div slot="main" class="md:w-[80vw] lg:w-[70vw] flex flex-col mx-auto size-full">
    <TagCover tag={currentTag} />
    <BlogSections posts={posts} />

    <Pagination
      currentPage={1}
      numberOfPages={numberOfPages}
      tag={tag}
    />
  </div>
</Layout>
